In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.0 kB 653.6 kB/s eta 0:00:01
   ------------------- -------------------- 122.9/250.0 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.9 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [5]:
pd.read_excel('../Github depo/QC_encoded_data.xlsx')

,date,finish,delivered_pcs_pack,pack_weight_kg,OK_NOK,pcs_lenght_mm,quantity_pcs,overal_weight_kg,pcs_pck,name_enc,drawing_no_enc,shape_no_enc,supplier_enc
0,"13,01,2017",C-0,NaN,NaN,NOK,NaN,NaN,NaN,40.0,A,DR0,SH0,SU0
1,"13,01,2017",C-0,NaN,NaN,NOK,NaN,NaN,NaN,40.0,B,DR1,SH1,SU0
2,"13,01,2017",C-0,NaN,NaN,NOK,NaN,NaN,NaN,40.0,A,DR0,SH0,SU0
3,"13,01,2017",C-0,NaN,NaN,NOK,NaN,NaN,NaN,40.0,A,DR0,SH0,SU0
4,"19,01,2017",C-0,NaN,NaN,NOK,NaN,NaN,NaN,40.0,C,DR2,SH2,SU1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6443,2022-09-13 00:00:00,C-0,100,38.2,OK,4150.0,900,343.6200,100.0,FX,DR111,SH82,SU1
6444,2022-09-13 00:00:00,C-0,100,38.2,OK,4150.0,920,351.2560,100.0,FX,DR111,SH82,SU1
6445,2022-09-13 00:00:00,SUR,40,12.2,OK,4050.0,1590,482.9625,60.0,EI,DR11,SH10,SU1
6446,2022-09-13 00:00:00,SUR,40,10.5,OK,4050.0,2032,534.9240,100.0,Y,DR16,SH15,SU1
6447,2022-09-13 00:00:00,C-35,20,18.1,OK,4150.0,560,506.6320,20.0,FH,DR57,SH51,SU1